ion-toolbar{
    background-color: var(--ion-color-fondo);
}


.ligth-theme{
    background-color: white;
    color: black;
}


ion-content {
    --background: url(../../assets/img/fondo_3.jpg) 0 0/100% 100% no-repeat;
  }